body {
    background-color: var(--primary-color);
    height: 100vh;
    margin: 0;
    --light-color: #f1efe9;
    --dark-color: #E2DED1;
    --text-color: #282828;
    --accent-color: #452b1a;
}
.display-hide {
    display: none;
}

.display-opacity {
    opacity: 0%;
    transition: opacity 0.5s, 0.5s;
}

.display-block {
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-justify {
    display: flex;
    justify-content: center;
}

.bg-light {
    background-color: var(--light-color);
}

.bg-dark {
    background-color: var(--dark-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

.color-accent {
    color: var(--accent-color);
}

.color-text {
    color: var(--text-color);
}

.color-dark {
    color: var(--dark-color);
}

.color-light {
    color: var(--light-color);
}

.gap-small {
    gap: 10px;
}

.gap-medium {
    gap: 20px;
}

.gap-big {
    gap: 40px
}

.font-small {
    font-size: 0.8em!important;
} 

.font-normal {
    font-size: 1.1em!important;
}

.font-medium {
    font-size: 2em!important;
}

.font-sans {
    font-family: Arial, Helvetica, sans-serif !important;
}

.font-serif {
    font-family: 'Source Serif Pro', serif !important;
}

.font-sans-serif {
    font-family: Helvetica,sans-serif !important;
}

.text-hyphen {
    text-align: justify;
    hyphens: auto;
}

.width-fit {
    width: fit-content;
}

.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.margin-top-auto {
    margin-top: auto;
}

.cursor {
    cursor: pointer;
}

.absolute {
    position: absolute;
}

.font-bold {
    font-weight: bolder;
}

.radius-normal {
    border-radius: 1em;
}

.radius-medium {
    border-radius: 2em;
}


.overflow-x {
    overflow-x: auto;
}

.center-items {
    justify-items: center;
    align-items: center;
}

.button {
    text-decoration: none;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    background-color: var(--light-color);
    color: var(--accent-color);
}

.button p {
    margin-block-end: 0.9em;
}

.project .button:hover {
    background-color: var(--dark-color);
}

.first-project {
    margin-left: 20px;
 }

 .project {
    transition: background-color 0.5s;
    max-width: 240px;
    max-height: 654px;
 }

 .project:hover {
    background-color: var(--light-color);
}

#bg-transition:has(> .flex-row .project:hover){
    background-color: var(--dark-color);
 }

#bg-transition, #projects {
    transition: background-color 0.5s;
}

.padding-normal {
    padding: 20px;
}

.video-container {
    width: 240px; 
}

.padding-auto {
    padding-right: calc(100vw / 7);
    padding-left: calc(100vw / 7);
    padding-top: calc(100vw / 15);
    padding-bottom: calc(100vw / 15);
}

.padding-bottom-auto {
    padding-bottom: calc(100vw / 15);
}

header h1 {
    font-size:2.9em;
    letter-spacing: -1px;
    margin: 20px 0;
}

@media only screen and (min-width: 1200px) {
    header h1 {
        font-size:3.5em;
    }

    .padding-auto {
        padding-right: calc(100vw / 3.5);
        padding-left: calc(100vw / 3.5);
        padding-top: calc(100vw / 25);
        padding-bottom: calc(100vw / 25);
    }

    .padding-bottom-auto {
        padding-bottom: calc(100vw / 25);
    }
    
}

.project video {
    margin-bottom: auto;
    object-fit:contain;
    border-radius: 1em;
}

h2 {
    margin: 0;
    width: fit-content;
    transition: border-bottom 0.5s, color 0.5s;
    transition: padding-left 0.5s;
}

#bg-dark h2 {
    text-decoration: 3px underline var(--dark-color);
}

#bg-light h2 {
    text-decoration: 3px underline var(--light-color);
}

#title:hover h2 {
    text-decoration: 3px underline var(--accent-color);
    text-underline-offset: 6px;
    padding-left: 30px;
}

#title:hover a {
    opacity: 100%;
 }

#hidden-mail {
    position:relative;
    left: -37px;
    z-index: 1;
    transition: left 0.5s;
    scale: 0;
}

#mail-button:hover #hidden-mail {
    left: 0px;
    width: auto;
    scale: 1;
}

#mail {
    z-index: 2;
}

 .button p {
    padding-bottom: 2px;
 }