body {
    background-color: var(--primary-color);
    height: 100vh;
    margin: 0;
    --light-color: #f1efe9;
    --dark-color: #E2DED1;
    --text-color: #282828;
    --accent-color: #452b1a;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-justify {
    display: flex;
    justify-content: center;
}

.background-light {
    background-color: var(--light-color);
}

.background-dark {
    background-color: var(--dark-color);
}

.background-accent {
    background-color: var(--accent-color);
}

.color-accent {
    color: var(--accent-color);
}

.color-text {
    color: var(--text-color);
}

.color-dark {
    color: var(--dark-color);
}

.color-light {
    color: var(--light-color);
}

.gap-small {
    gap: 10px;
}

.gap-medium {
    gap: 20px;
}

.gap-big {
    gap: 40px
}

.font-small {
    font-size: 0.8em!important;
} 

.font-normal {
    font-size: 1.05em!important;
}

.font-medium {
    font-size: 2em!important;
}

.font-sans {
    font-family: Arial, Helvetica, sans-serif;
}

.font-serif {
    font-family: 'Source Serif Pro', serif;
}

.width-fit {
    width: fit-content;
}

.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.margin-top-auto {
    margin-top: auto;
}

.cursor {
    cursor: pointer;
}

.font-bold {
    font-weight: bolder;
}

.radius-normal {
    border-radius: 1em;
}

.radius-medium {
    border-radius: 2em;
}


.overflow-x {
    overflow-x: auto;
}

.center-items {
    justify-items: center;
    align-items: center;
}

.button {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    background-color: var(--light-color);
    color: var(--secondary-text);
}

.project .button:hover {
    background-color: var(--dark-color);
}

.first-project {
    margin-left: 20px;
 }

 .project {
    transition: background-color 0.5s;
    max-width: 240px;
    max-height: 654px;
 }

 .project:hover {
    background-color: var(--light-color);
}

#background-transition:has(> .flex-row .project:hover){
    background-color: var(--dark-color);
 }

#background-transition, #projects {
    transition: background-color 0.5s;
}

.padding-normal {
    padding: 20px;
}

.video-container {
    width: 240px; 
}

.padding-auto {
    padding-right: calc(100vw / 7);
    padding-left: calc(100vw / 7);
    padding-top: calc(100vw / 15);
    padding-bottom: calc(100vw / 15);
}

.padding-bottom-auto {
    padding-bottom: calc(100vw / 15);
}

header h1 {
    font-size:2.9em;
    letter-spacing: -1px;
    margin: 20px 0;
}

@media only screen and (min-width: 1200px) {
    header h1 {
        font-size:3.5em;
    }

    .padding-auto {
        padding-right: calc(100vw / 3);
        padding-left: calc(100vw / 3);
        padding-top: calc(100vw / 25);
        padding-bottom: calc(100vw / 25);
    }

    .padding-bottom-auto {
        padding-bottom: calc(100vw / 25);
    }
    
}

.project video {
    margin-bottom: auto;
    object-fit:contain;
    border-radius: 1em;
}


h2 {
    margin: 0;
    padding-bottom: 3px;
    width: fit-content;
}

h2:hover {
    border-bottom: 3px solid var(--accent-color);
    padding-bottom: 0;
}