:root {
    --primary-color: #f1efe9;
    --secondary-color: #E2DED1;
    --primary-text: #282828;
    --secondary-text: #452b1a;
}

html {
    overflow: -moz-scrollbars-horizontal; 
    overflow-y: scroll;
}

.projects .list::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    height: 12px;
  }
  
.projects .list::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
    background: var(--primary-color);        /* color of the tracking area */
  }
  
.projects .list::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    background-color: var(--secondary-text);     /* color of the scroll thumb */
  }

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
}

header h1 {
    font-size:2.9em;
    align-self: center;
    margin: 20px 0;
}

@media only screen and (min-width: 1200px) {
    header h1 {
        font-size:3.5em;
    }
}

header .banner {
    background-color: var(--secondary-text);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner .circle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    height: 20px;
    width: 40px;
    border: 2px solid var(--secondary-color);
    margin-right: 10px;
}

.banner .circle-button p {
    color: var(--secondary-color);
}

.banner p {
    color: var(--primary-color);
    margin: 0;
    font-size: 0.8em!important;
}

.banner-text p:hover {
    border-bottom: 2px solid var(--secondary-color);
    padding-top: 2px;
  }

.about, .contact {
    background-color: var(--secondary-color);
}

.about p,.projects p, .experience p, .contact p  {
    font-size: 1.2em;
    color: var(--primary-text);
    margin-top: calc(100vh / 60);
}

.about p,.projects p, .experience p, .contact p, .about h2,.projects h2, .experience h2, .contact h2, .about .buttons,  .contact .buttons {
    margin-right: calc(100vw / 7);
    margin-left: calc(100vw / 7);
}

.about h2,.projects h2, .experience h2, .contact h2 {
    margin-top: calc(100vw / 15);
}

.about .buttons, .contact .buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: calc(100vw / 15);
}

.projects .list {
    display: flex;
    flex-direction: row;
    align-items:center;
    overflow-x: auto;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 10px;
    margin-bottom: calc(100vw / 20);
    margin-top: calc(100vw / 40);
    gap: 20px;
}

.first-project {
    margin-left: 20px;
 }

 .pbuttons {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

@media only screen and (min-width: 1200px) {
    .about p,.projects p, .experience p, .contact p, .about h2,.projects h2, .experience h2, .contact h2, .about .buttons, .contact .buttons {
        margin-right: calc(100vw / 3);
        margin-left: calc(100vw / 3);
    }

    .about h2,.projects h2, .experience h2, .contact h2 {
        margin-top: calc(100vw / 25);
    }
    
    .about .buttons {
        margin-bottom: calc(100vw / 25);
    }
    
    .projects .list {
        display: flex;
        flex-direction: row;
        align-items:center;
        overflow-x: auto;
        margin-right: calc(100vw / 10);
        margin-left: calc(100vw / 10);
        margin-bottom: calc(100vw / 20);
        padding-bottom: 0;
        margin-top: calc(100vw / 40);
    }

    .first-project {
        margin-left: 0;
    }

    .pbuttons {
        margin-left: 20px;
        margin-bottom: calc(100vw / 40);
        display: flex;
        flex-direction: row;
        margin-top: auto;
    }
}

.button {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-text);
    color: var(--secondary-color);
    align-items: center;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.button a {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.row-justify {
    display: flex;
    justify-content: center;
}

.projects .project {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 320px;
    height: 100%;
    background-color: #E2DED1;
    border-radius: 1em;
}

.project video {
    scale: 0.8;
    margin-bottom: auto;
    object-fit: cover;
}

.video-container {
    width: 320px; 
    height: 240px;
}

.projects .list p {
    padding: 15px 20px;
    max-width: fit-content;
    font-size: 1.05em;
    color: var(--primary-text);
    margin:0;
}



.about, .experience, .projects, .contact {
    width: 100%;
}

h1 {
    color: var(--secondary-text);
    font-family: 'Source Serif Pro', serif;
    font-weight: bolder;
    letter-spacing: -1px;
    margin: 0px;
}

h2 {
    color: var(--secondary-text);
    font-family: 'Source Serif Pro', serif;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: -5px;
}

p {
    font-size: 1.05em!important; 
    font-family: Arial, Helvetica, sans-serif;
}