@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Source Serif 4';
    src: url('/assets/fonts/source-serif-4.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/roboto.woff2') format('woff2');
    font-display: swap;
}


.dot-grid {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    opacity: 0.9;
    pointer-events: none;
    z-index: 0; 
}

.neuphormism-video {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1; 
}

h1,
h2,
h3 {
    font-family: 'Source Serif 4', serif;
}


.post :is(img) {
    max-height: 400px;
    object-fit: initial;
    display: block;
    position: relative;
    z-index: 1;
    padding-bottom: 22px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    padding-bottom: 22px;
}

.skeleton {
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 90px 100%;
    background-repeat: no-repeat;
    background-position: left -90px top 0;
    animation: shine 1s ease-in-out infinite;
    z-index: 2;
}

.skeleton-simple {
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 90px 100%;
    background-repeat: no-repeat;
    background-position: left -90px top 0;
    animation: shine 1s ease-in-out infinite;
}

@keyframes shine {
    to {
        background-position: right -90px top 0;
    }
}